body {
    background-color: #888888;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container h2 {
    text-align: center;
}

input, textarea {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
}

input[type="date"], input[type="time"] {
    width: 49%;
    display: inline-block;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.task-item {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    margin-bottom: 10px;
    position: relative;
    animation: slideDown 0.5s ease-in-out;
}

.task-item.completed .task-title,
.task-item.completed .task-description {
    text-decoration: line-through;
    color: #888;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.task-description {
    font-size: 14px;
    margin-bottom: 5px;
}

.task-date-time, .task-status {
    font-size: 12px;
    margin-bottom: 12px;
    color: #bbb;
}

.task-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.task-icons i {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.task-icons i:hover {
    color: #4CAF50;
}

.task-icons .fa-trash:hover {
    color: #e74c3c;
}

.task-icons .fa-check:hover {
    color: #2ecc71;
}

.task-icons .fa-pencil-alt:hover {
    color: #3498db;
}

#task-input-container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #444;
    margin-bottom: 20px;
}

#task-input-container input,
#task-input-container textarea {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

#addTaskBtn {
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #45a049;
}

.task-icons .fa-bars:hover {
    color: #f1c40f;
}

.toggle-icon {
    font-size: 24px;
    cursor: pointer;
    color: green;
    user-select: none;
    display: inline-block;
    margin: 10px;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}